*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
  
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1.5rem;
  gap: 1rem;
}

main .left,
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

.left .code,
.code pre,
.code pre code
{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #282828;
  overflow: scroll;
}

/* .left .code,
.code pre code
{
  overflow: auto;
} */

main .left{
  background-color: #000;
  position: relative;
  color: #fff;
  /* overflow: hidden; */
  
}

main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #ede5e5;
  color: #000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  
}

main .left .review:hover{
  background-color: #bbb5b5;
  color: #383535;
  transition: all 0.7s ease;
}


main .right{
  background-color: #3d3a3a;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #f6dfdf;
  overflow: auto;
}

